.git
.gitignore
.github
.opencode
.vscode
.devcontainer

.venv
.pytest_cache
__pycache__
*.pyc

node_modules

.credentials
.env
.env.*

migrations/__pycache__
app/**/__pycache__
test/__pycache__

*.log
*.sqlite
*.db